<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 400 400"
   height="400"
   width="400">
  <defs
     id="defs4" />
  <g
     transform="translate(0,-652.36216)"
     id="layer1">
    <g
       transform="matrix(1.0567756,0,0,1.0567756,-4.7305476,-53.746465)"
       id="g4179">
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4629"
         width="15.471325"
         height="30.231892"
         x="286.56744"
         y="916.41602" />
      <rect
         y="910.16467"
         x="263.98441"
         height="36.48325"
         width="15.471325"
         id="rect4633"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4635"
         width="15.471325"
         height="43.125317"
         x="241.40138"
         y="903.52258" />
      <rect
         y="867.57733"
         x="218.81834"
         height="79.070633"
         width="15.471325"
         id="rect4637"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4639"
         width="15.471325"
         height="111.10885"
         x="196.23531"
         y="835.53906" />
      <rect
         y="827.72485"
         x="173.65228"
         height="118.92303"
         width="15.471325"
         id="rect4641"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4643"
         width="15.471325"
         height="139.23996"
         x="151.06924"
         y="807.40796" />
      <rect
         y="792.17029"
         x="128.48621"
         height="154.47765"
         width="15.471325"
         id="rect4645"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4647"
         width="15.471325"
         height="177.92024"
         x="105.90318"
         y="768.72766" />
      <rect
         y="768.72766"
         x="83.320145"
         height="177.92024"
         width="15.471325"
         id="rect4649"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <rect
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846"
         id="rect4651"
         width="15.471325"
         height="14.994205"
         x="309.15045"
         y="931.65369" />
    </g>
  </g>
</svg>
