<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 399.99998 399.99998"
   height="400"
   width="400">
  <defs
     id="defs4" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(0,-652.36216)"
     id="layer1">
    <g
       transform="matrix(1.0567756,0,0,1.0567756,-4.7305476,-53.746465)"
       id="g4179">
      <path
         id="rect4629"
         d="m 286.56744,916.41602 15.47133,0 0,30.23189 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4633"
         d="m 263.98441,910.16467 15.47132,0 0,36.48325 -15.47132,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4635"
         d="m 241.40138,903.52258 15.47133,0 0,43.12532 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4637"
         d="m 218.81834,867.57733 15.47133,0 0,79.07063 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4639"
         d="m 196.23531,835.53906 15.47132,0 0,111.10885 -15.47132,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4641"
         d="m 173.65228,827.72485 15.47133,0 0,118.92303 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4643"
         d="m 151.06924,807.40796 15.47133,0 0,139.23996 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4645"
         d="m 128.48621,792.17029 15.47132,0 0,154.47764 -15.47132,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4647"
         d="m 105.90318,768.72766 15.47133,0 0,177.92024 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4649"
         d="m 83.320145,768.72766 15.471325,0 0,177.92024 -15.471325,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
      <path
         id="rect4651"
         d="m 309.15045,931.65369 15.47133,0 0,14.9942 -15.47133,0 z"
         style="fill-opacity:0.70980392;stroke:none;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0.71153846" />
    </g>
  </g>
</svg>
